.Header-container {
    position: relative;
    width: 100%;
    left: 0;
    background: black;
    color: white;
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;
}
.Header-button {
    display: none;
    background: none;
    border: none;
}
.Header-butto-linen {
    width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

@media only screen and (max-width: 1300px) {
    .Header-button {
        display: inline;
        margin-right: 20px;

    }
}