.Header-container {
    position: relative;
    width: 100%;
    left: 0;
    background: black;
    color: white;
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;
}
.Header-button {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .Header-button {
        display: inline;
        margin-right: 20px;
    }
}