.Mattress-container {
    background: #fff;
    width: 100%;
    padding-left: 40px;
}
.Mattress-order {
    display: flex;
    width: 250px;
    float: right;
    padding-top: 10px;
    margin-bottom: 20px;
}
.Mattress-order p{
}
.Mattress-order-selector {
    margin-left: 10px;
    width: 175px;
    height: 30px;
    padding-bottom: 4px;
}

@media only screen and (max-width: 1100px) {
    .Mattress-container {
        padding-left: 0;
    }
}