.product-characteristics {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.product-characteristics-element {
    margin: auto;
    width: 100px;
    text-align: center;
    margin-bottom: 30px;
}
.product-characteristics h5 {
    font-size: 13px;
    font-weight: bold;
  }