.SideBar-container {
    //background: orange;
    max-width: 280px;
    min-width: 280px;
    margin-right: 0;
    background: rgb(230, 230, 230);
    //padding: 40px;
    margin-top: 60px;
    height: 100%;
}
.sideBar-button {
    display: none;
}
.sideBar-link {
    display: flex;
    padding: 0px;
    position: relative;
  
}
.sideBar-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    margin: auto;
}
.sideBar-link h4{
    font-size: 18px;
    position: relative;
    left: 50px;
    margin: 0;
}


@media only screen and (max-width: 1300px) {
    .SideBar-container {
        position: fixed;
        left: -280px;
        top: -60px;
        transition: all 0.5s;
        height: 100vh;
        z-index: 2;
    }
    .sideBar-button {
        display: inline;
        position: relative;
        top: 10px;
        left: 230px;
        z-index: 3;
    }
    .sideBar-menu {
        position: relative;
        top: -30px;
    }
}