{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "globals": {
    "React": true,
    "document": true,
    "window": true,
    "jQuery": true,
    "$": true,
    "localStorage": true,
    "fetch": true
  },
  "root": true,
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "no-restricted-syntax": off,
    "no-underscore-dangle": off,
    "global-require": off,
    "import/no-dynamic-require": off,
    "react/jsx-props-no-spreading": off,
  },
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  }
}